html {
    font-size: 12px;
}
body {
    margin: 0 auto 1em;
    padding: 0;
    font-family: "Verdana", "Geneva", sans-serif;
    max-width: 900px;
    color: var(--fg-1);
    background-color: var(--bg-1);
}

p, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
a, a:visited {
    color: var(--fg-1);
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    border: 1px solid #ddd;
}

:root {
    --fg-1: #000;
    --bg-1: #fff;
    --bg-1: #f6f6ef;
    --grayed-0: #e2e8f0;
    --grayed-1: #a0aec0;
    --grayed-2: #4a5568;
}

.m-0 {margin: 0;}

.m-xs {margin: 0.25rem;}
.m-sm {margin: 0.5rem;}
.m-base {margin: 1rem;}
.m-lg {margin: 1.25rem;}
.m-xl {margin: 1.5rem;}

.mb-xs {margin-bottom: 0.25rem;}
.mb-sm {margin-bottom: 0.5rem;}
.mb-base {margin-bottom: 1rem;}
.mb-lg {margin-bottom: 1.25rem;}
.mb-xl {margin-bottom: 1.5rem;}

.text-xs {font-size: 0.75rem;}
.text-sm {font-size: 0.875rem;}
.text-base {font-size: 1rem;}
.text-lg {font-size: 1.125rem;}
.text-xl {font-size: 1.25rem;}

.text-grayed-1 {color: var(--grayed-1);}
.text-grayed-2 {color: var(--grayed-2);}

.heading {
    font-size: 1.25rem;
}
.content .heading, .content h1, .content h2, .content h3, .content h4, .content h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.content p, .content .heading {
    margin-bottom: 0.5rem;
}
.content ul {
    margin-left: 1.5rem;
}

.vertical-list {
    list-style-type: none;
}
.vertical-list p {
    margin-bottom: 0.5rem;
}
.vertical-list li {
    margin-bottom: 1rem;
}
.vertical-list .heading {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}

.line-menu {
    list-style-type: none;
}
.line-menu, .line-menu a {
    color: var(--grayed-2);
}
.line-menu li {
    display: inline;
}
.line-menu li:not(:first-child)::before {
    content: " | ";
}

